XSD/Ejercicio13/solucion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="tipoSalario">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="1000" />
            <xs:maxInclusive value="9999" />
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="empleado">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dni" type="xs:string" />
                <xs:element name="nombre" type="xs:string" />
                <xs:element name="departamento" type="xs:string" />
                <xs:element name="salario" type="tipoSalario" />
                <xs:element name="activo" type="xs:boolean" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>