XSD/Ejercicio13/solucion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:simpleType name="tipoSalario">
        <xsd:restriction base="xsd:decimal">
            <xsd:minInclusive value="1000" />
            <xsd:maxInclusive value="9999" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="empleado">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="dni" type="xsd:string" />
                <xsd:element name="nombre" type="xsd:string" />
                <xsd:element name="departamento" type="xsd:string" />
                <xsd:element name="salario" type="tipoSalario" />
                <xsd:element name="activo" type="xsd:boolean" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>