XSD/Ejercicio14/solucion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="biblioteca">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="libro" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="titulo" type="xs:string" />
                            <xs:element name="autor" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                            <xs:element name="paginas" type="xs:integer" />
                        </xs:sequence>
                        <xs:attribute name="isbn" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="ciudad" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>