XSD/Ejercicio14/solucion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="biblioteca">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="libro" minOccurs="1" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="titulo" type="xsd:string" />
                            <xsd:element name="autor" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
                            <xsd:element name="paginas" type="xsd:integer" />
                        </xsd:sequence>
                        <xsd:attribute name="isbn" type="xsd:string" use="required" />
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="ciudad" type="xsd:string" use="required" />
        </xsd:complexType>
    </xsd:element>
</xsd:schema>