XSD/Ejercicio9/solucion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="pelicula">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="titulo" type="xsd:string" />
                <xsd:element name="director" type="xsd:string" />
                <xsd:element name="año" type="xsd:integer" />
                <xsd:element name="duracion" type="xsd:integer" />
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string" use="required" />
        </xsd:complexType>
    </xsd:element>
</xsd:schema>