XSD/Ejercicio7/solucion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="empleado">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="dni" type="xsd:string"/>
        <xsd:element name="nombre" type="xsd:string"/>
        <xsd:element name="departamento" type="xsd:string"/>
        <xsd:element name="salario" type="xsd:decimal"/>
        <xsd:element name="telefono" type="xsd:integer"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>