XSD/Ejercicio11/solucion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="tipoCombustible">
        <xs:restriction base="xs:string">
            <xs:enumeration value="gasolina" />
            <xs:enumeration value="diesel" />
            <xs:enumeration value="electrico" />
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="vehiculo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="marca" type="xs:string" />
                <xs:element name="modelo" type="xs:string" />
                <xs:element name="tipo" type="tipoCombustible" />
                <xs:element name="año" type="xs:integer" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>