XSD/Ejercicio2/solucion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="persona">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="nombre" type="xsd:string"/>
        <xsd:element name="edad" type="xsd:integer"/>
        <xsd:element name="email" type="xsd:string"/>
        <xsd:element name="activo" type="xsd:boolean"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>