XSD/Ejercicio5/solucion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="vehiculo">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="marca" type="xsd:string"/>
        <xsd:element name="modelo" type="xsd:string"/>
        <xsd:element name="tipo" type="xsd:string"/>
        <xsd:element name="año" type="xsd:integer"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>