XSD/Ejercicio10/solucion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:simpleType name="tipoCalificacion">
        <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="0" />
            <xsd:maxInclusive value="10" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="nota">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="alumno" type="xsd:string" />
                <xsd:element name="asignatura" type="xsd:string" />
                <xsd:element name="calificacion" type="tipoCalificacion" />
                <xsd:element name="fecha" type="xsd:date" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>