XSD/Ejercicio12/solucion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="tienda">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="direccion" type="xsd:string" />
                <xsd:element name="producto" minOccurs="1" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="nombre" type="xsd:string" />
                            <xsd:element name="precio" type="xsd:decimal" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="total_productos" type="xsd:integer" />
            </xsd:sequence>
            <xsd:attribute name="nombre" type="xsd:string" use="required" />
        </xsd:complexType>
    </xsd:element>
</xsd:schema>