XSD/Ejercicio3/solucion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="producto">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="nombre" type="xsd:string"/>
        <xsd:element name="precio" type="xsd:decimal"/>
        <xsd:element name="stock" type="xsd:integer"/>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>