XSD/Ejercicio8/solucion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="biblioteca">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="libro" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="titulo" type="xsd:string"/>
              <xsd:element name="autor" type="xsd:string"/>
              <xsd:element name="genero" type="xsd:string"/>
            </xsd:sequence>
            <xsd:attribute name="isbn" type="xsd:string" use="required"/>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="nombre" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>