XSD/Ejercicio6/solucion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="pedido">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="cliente" type="xsd:string"/>
        <xsd:element name="articulo" type="xsd:string" maxOccurs="unbounded"/>
        <xsd:element name="total" type="xsd:decimal"/>
      </xsd:sequence>
      <xsd:attribute name="numero" type="xsd:integer" use="required"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>