XSD/Ejercicio4/solucion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="nota">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="alumno" type="xsd:string"/>
        <xsd:element name="asignatura" type="xsd:string"/>
        <xsd:element name="calificacion" type="xsd:integer"/>
        <xsd:element name="fecha" type="xsd:date"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>